@using Microsoft.AspNetCore.Identity
@using VideoLibraryMVC.Entities
@using VideoLibraryMVC.ViewModels
@model VideosIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Videos.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videos.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videos.First().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videos.First().Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videos.First().Stock)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Videos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <form id="bookVideoForm@(item.Id)" asp-controller="Videos" asp-action="BookVideo">
                    @Html.DropDownListFor(model => model.UserId, Model.Users)
                    @Html.Hidden("VideoId", item.Id)
                </form>
            </td>
            <td>
                <input type="submit" form="bookVideoForm@(item.Id)" value="Book" /> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
